a{
  text-decoration: none;
  color: unset;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{ 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
a.navbar-brand{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;
}